* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility */

:root {
    --background--body-top: #009688;
    --background-body: #d9dbd4;
    --top-headers: #eaeaea;
    --headers-icons: #b1b1b1;
    --desktop-notifications: #61b7df;
    --toggle-desktop-notifications: #537b8e;
    --user-messages: #d5f9ba;
    --active-chat-user: #e9ebeb;
    --write-message-bar: #f3eeea;
}

.color-shadegray {
    color: var(--toggle-desktop-notifications);
}

.fs-07 {
    font-size: 0.7rem;
}

.fs-08 {
    font-size: 0.8rem;
}

/* #endregion utility */

/* #region main classes */

.body-bg {
    height: 100vh;
    background: linear-gradient(180deg, #009688 20%, #D9DBD4 20%);
}

.main-container {
    height: 90%;
    background-color: blueviolet;
}

#left {
    width: 35%;
}

#right {
    width: 65%;
}

/* #endregion main classes */

/* #region left */
.header-left {
    height: 60px;
    background-color: var(--top-headers);
    border-right: 1px solid var(--headers-icons) ;
} 

.profile-img {
    height: 50px;
    border-radius: 100%;
}

.right-profile-icons i {
    padding-right: 1rem;
    color: var(--headers-icons);
}

.desktop-notifications {
    background-color: var(--desktop-notifications);
}

.bell-icon {
    width: 40px;
    color: var(--desktop-notifications);
    background-color: var(--active-chat-user);
    border-radius: 100%;
}

.desktop-notifications p {
    color: var(--toggle-desktop-notifications);
    text-decoration: underline;
}

.desktop-notifications h6 {
    font-size: 0.9rem;
}

.searchbar {
    padding: 0.5rem;
    background-color: var(--write-message-bar);
}

.chats {
    overflow-y:scroll;
}

.chat {
    background-color: var(--active-chat-user);
}
/* #endregion left */